<head>
	<title>Chicago Bears - Tic Tac Toe</title>
</head>

<h1>Chicago Bears - Tic Tac Toe</h1>

<div class="tictactoe">
	<table cellpadding="0" cellspacing="0">
	
		<tr id="row1">
			<td id="cell0">0</td>			
			<td id="cell1">1</td>		
			<td id="cell2">2</td>
		</tr>
	
		<tr id="row2">
			<td id="cell3">3</td>	
			<td id="cell4">4</td>	
			<td id="cell5">5</td>
		</tr>
	
		<tr id="row3">
			<td id="cell6">6</td>		
			<td id="cell7">7</td>		
			<td id="cell8">8</td>
		</tr>
	</table>
</div>

<div class="selector">
	<%= form_for Player.new do |f| %>
		<p><strong><%= f.label :mark, "Type X or O" %></p></strong>
		<%= f.text_field :mark %>
		<%= f.hidden_field :game_board_id, :value => @game.id %>
		<%= f.submit "Start Game" %>
	<% end %>
</div>