<div class="show_display">
	<table>
	<% x = 0 %>
	<tr>
		<% while x < 3 %>
			<td class="board_spacing">
				<% if @game.current_state[x] == nil %>
					<div class="unselected"><%= "#{x}" %></div>
				<% else %>
					<%= @game.current_state[x] %>
				<% end %>
			</td>
			<% x += 1 %>
		<% end %>
	</tr>
	
	<tr>
	<% while x < 6 %>
		<td class="board_spacing">
		<% if @game.current_state[x] == nil %>
			<div class="unselected"><%= "#{x}" %></div>
		<% else %>
			<%= @game.current_state[x] %>
		<% end %>
		</td>
		<% x += 1 %>
	<% end %>
	</tr>

	
	<tr>
	<% while x < 9 %>
		<td class="board_spacing">
		<% if @game.current_state[x] == nil %>
			<div class="unselected"><%= "#{x}" %></div>
		<% else %>
			<%= @game.current_state[x] %>
		<% end %>
		</td>
		<% x += 1 %>
	<% end %>
	</tr>
</table>
</div>

<%= form_for @game do |f| %>
	<%= f.label :current_state, "Choose a box" %>
	<%= f.text_field :current_state %>
	<%= f.submit "Select Square" %>
<% end %>